<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>IKEA - 상품 상세</title>
</head>
<body>

<section layout:fragment="container">

  <div class="product-detail-area">
    <div class="product-detail-inner">
      <div class="product-left-module">
        <div class="product-img-area">
          <img alt="상품 사진" class="product-img">
        </div>
        <div class="product-more-info-area">
          <ul>
            <li class="product-desc-item">
              <p>제품 설명</p>
              <i class="fa-solid fa-angles-right"></i>
            </li>
            <li class="product-review-item">
              <p>상품평</p>
              <i class="fa-solid fa-angles-right"></i>
            </li>
            <li class="product-modify-item" sec:authorize="hasRole('ADMIN')">
              <p>상품 정보 수정</p>
              <i class="fa-solid fa-angles-right"></i>
            </li>
            <li class="product-delete-item" sec:authorize="hasRole('ADMIN')">
              <p>상품 삭제</p>
              <i class="fa-solid fa-angles-right"></i>
            </li>
            <li class="product-option-register-item" sec:authorize="hasRole('ADMIN')">
              <p>상품 옵션 추가</p>
              <i class="fa-solid fa-angles-right"></i>
            </li>
            <li class="product-option-modify-item" sec:authorize="hasRole('ADMIN')">
              <p>선택된 상품 옵션 수정</p>
              <i class="fa-solid fa-angles-right"></i>
            </li>
            <li class="product-option-delete-item" sec:authorize="hasRole('ADMIN')">
              <p>선택된 상품 옵션 삭제</p>
              <i class="fa-solid fa-angles-right"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="product-buy-module">
        <h2 class="product-name"></h2>
        <p class="product-size"></p>
        <p class="product-price"></p>
        <p class="product-reviews"></p>
        <p class="selected-color"></p>
        <div class="product-option-area"></div>
        <div class="product-order-area">
          <div class="product-quantity-area">
            <button class="quantity-sub-btn">
              <i class="fa-solid fa-minus"></i>
            </button>
            <input disabled max=99 min=1 name="quantity" type="text" value=1>
            <button class="quantity-add-btn">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
          <button class="product-order-btn">
            구매하기
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="product-desc-box">
    <div class="box-left-inner"></div>
    <div class="box-right-inner">
      <header>
        <h2 class="header-title">제품 설명</h2>
        <button class="close-btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </header>
      <section>
        <div class="product-desc-area"></div>
      </section>
    </div>
  </div>

  <div class="product-review-box">
    <div class="box-left-inner"></div>
    <div class="box-right-inner">
      <header>
        <h2 class="header-title">상품평</h2>
        <button class="close-btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </header>
      <nav>
        <ul>
          <li>
            <button class="review-write-btn">상품평 쓰기</button>
          </li>
        </ul>
      </nav>
      <section>
        <div class="product-review-list"></div>
        <button class="review-load-btn">더보기</button>
      </section>
    </div>
  </div>

  <div class="product-review-write-box">
    <div class="box-left-inner"></div>
    <div class="box-right-inner">
      <header>
        <h2 class="header-title">상품평 쓰기</h2>
        <button class="close-btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </header>
      <section>
        <div class="product-review-write-area">
          <form class="review-write-form">
            <div class="input-area">
              <label for="rating">별점(2.5)</label>
              <input id="rating" max=5 min=0 name="rating" step=0.5 type="range" value=2.5>
            </div>
            <div class="input-area">
              <label for="content">상품평</label>
              <textarea id="content" name="content"></textarea>
            </div>
            <div class="btn-area">
              <button class="cancel-btn">취소</button>
              <button class="save-btn">저장</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>

</section>

</body>
</html>

<script th:inline="javascript">
  const $body = $('body')
  const productId = [[${productId}]]
  const $productImg = $('.product-img')
  const $productDescItem = $('.product-desc-item')
  const $productReviewItem = $('.product-review-item')
  const $productModifyItem = $('.product-modify-item')
  const $productDeleteItem = $('.product-delete-item')
  const $productOptionRegisterItem = $('.product-option-register-item')
  const $productOptionModifyItem = $('.product-option-modify-item')
  const $productOptionDeleteItem = $('.product-option-delete-item')
  const $productName = $('.product-name')
  const $productSize = $('.product-size')
  const $productPrice = $('.product-price')
  const $productReviews = $('.product-reviews')
  const $selectedColor = $('.selected-color')
  const $productOptionArea = $('.product-option-area')
  const $quantitySubBtn = $('.quantity-sub-btn')
  const $quantityAddBtn = $('.quantity-add-btn')
  const $quantityInput = $('input[name=quantity]')
  const $productOrderBtn = $('.product-order-btn')

  const $productDescBox = $('.product-desc-box')
  const $productDescBoxLeftInner = $productDescBox.children('.box-left-inner')
  const $productDescBoxCloseBtn = $('.product-desc-box .box-right-inner header .close-btn')
  const $productDescArea = $('.product-desc-area')

  const $productReviewBox = $('.product-review-box')
  const $productReviewBoxLeftInner = $productReviewBox.children('.box-left-inner')
  const $productReviewBoxCloseBtn = $('.product-review-box .box-right-inner header .close-btn')
  const $productReviewWriteBtn = $('.review-write-btn')
  const $productReviewList = $('.product-review-list')
  const $reviewLoadBtn = $('.review-load-btn')

  const $productReviewWriteBox = $('.product-review-write-box')
  const $reviewWriteForm = $('.review-write-form')
  const $ratingInput = $('input[name=rating]')
  const $contentText = $('textarea[name=content]')
  const $reviewCancelBtn = $('.product-review-write-box .box-right-inner .cancel-btn')
  const $reviewSaveBtn = $('.product-review-write-box .box-right-inner .save-btn')

  const productReviewParamObj = {
    pageNum: 1,
    limit: 10,
    productId
  }

  let productOptionList
  let selectedProductOption

  $.ajax({
    url: `/api/product/${productId}`,
    type: 'GET',
    contentType: 'application/json',
    success: (product) => {
      productOptionList = product.productOptionList
      const firstOption = product.productOptionList[0]
      selectedProductOption = firstOption
      const firstAtt = firstOption.attachmentList[0]
      const reviewTotalRating = product.productReviewList.map((p) => p.rating).reduce((acc, cur) => acc + cur, 0)
      const reviewTotalCnt = product.productReviewList.length
      $productImg.attr('src', `/img/${product.id}/${firstAtt.productOptionId}/${firstAtt.name}`)
      $productName.text(product.name)
      $productDescArea.text(product.desc)
      $productSize.text(`${firstOption.width}x${firstOption.depth}x${firstOption.height}(cm)`)
      $productPrice.text(`￦${firstOption.price.toLocaleString('ko-KR')}`)
      $productReviews.text(`⭐${reviewTotalCnt <= 0 ? 0 : Math.round(reviewTotalRating / reviewTotalCnt)}(${reviewTotalCnt})`)
      $selectedColor.text(`선택된 색상 ${firstOption.color}`)
      product.productOptionList.forEach((option, idx) => {
        $productOptionArea.append(`
          <div class="product-option">
            <input type="radio" name="id" id="${option.id}" value="${option.id}" ${idx === 0 ? 'checked' : null}>
            <label for="${option.id}">
              <img src="/img/${product.id}/${option.id}/${option.attachmentList[0].name}" alt="${option.attachmentList[0].name}">
            </label>
          </div>
        `)
      })
      $('input[name=id]').on('change', (e) => {
        e.preventDefault()
        selectedProductOption = productOptionList.find((option) => option.id === e.target.value)
        $productImg.attr('src', `/img/${selectedProductOption.productId}/${selectedProductOption.id}/${selectedProductOption.attachmentList[0].name}`)
        $selectedColor.text(`선택된 색상 ${selectedProductOption.color}`)
        $productPrice.text(`￦${selectedProductOption.price.toLocaleString('ko-KR')}`)
      })
    },
    error: (request) => {
      console.log(request)
    }
  })

  $.ajax({
    url: `/api/product-review/list?${$.param(productReviewParamObj)}`,
    type: 'GET',
    contentType: 'application/json',
    success: (reviewList) => {
      reviewList.forEach((review) => {
        $productReviewList.append(`
        <div class="product-review-item">
          <div class="review-header">
            <p>⭐ ${review.rating}</p>
            <p>${review.user.username}</p>
          </div>
          <div class="review-section">${review.content}</div>
        </div>
      `)
      })
    },
    error: (request) => {
      console.log(request)
    }
  })

  $reviewWriteForm.validate({
    rules: {
      rating: {
        required: true
      },
      content: {
        required: true
      }
    },
    messages: {
      rating: {
        required: '별점이 입력되지 않았습니다.'
      },
      content: {
        required: '상품평이 입력되지 않았습니다.'
      }
    },
    submitHandler: () => {
      $.ajax({
        url: '/api/user/me',
        type: 'GET',
        contentType: 'application/json',
        success: (user) => {
          $.ajax({
            url: '/api/product-review',
            type: 'POST',
            contentType: 'application/json',
            dataType: 'json',
            data: JSON.stringify({
              userId: user.id,
              productId,
              rating: Number($ratingInput.val()),
              content: $contentText.val()
            }),
            success: () => {
              alert('상품평이 등록되었습니다.')
              $productReviewWriteBox.css('visibility', 'hidden')
              $body.css('overflow-y', 'scroll')
            },
            error: (request) => {
              console.log(request)
            }
          })
        },
        error: (request) => {
          alert('로그인 이후 상품평을 작성해주시기 바랍니다.')
          location.href = '/sign/in'
        }
      })
    }
  })

  $productDescItem.on('click', (e) => {
    $productDescBox.css('visibility', 'visible')
    $body.css('overflow-y', 'hidden')
  })
  $productDescBoxLeftInner.on('click', (e) => {
    $productDescBox.css('visibility', 'hidden')
    $body.css('overflow-y', 'scroll')
  })
  $productDescBoxCloseBtn.on('click', (e) => {
    $productDescBox.css('visibility', 'hidden')
    $body.css('overflow-y', 'scroll')
  })
  $productReviewItem.on('click', (e) => {
    $productReviewBox.css('visibility', 'visible')
    $body.css('overflow-y', 'hidden')
  })
  $productReviewBoxLeftInner.on('click', (e) => {
    $productReviewBox.css('visibility', 'hidden')
    $body.css('overflow-y', 'scroll')
  })
  $productReviewBoxCloseBtn.on('click', (e) => {
    $productReviewBox.css('visibility', 'hidden')
    $body.css('overflow-y', 'scroll')
  })
  $reviewLoadBtn.on('click', (e) => {
    ++productReviewParamObj.pageNum
    console.log(productReviewParamObj)
    $.ajax({
      url: `/api/product-review/list?${$.param(productReviewParamObj)}`,
      type: 'GET',
      contentType: 'application/json',
      success: (reviewList) => {
        reviewList.forEach((review) => {
          $productReviewList.append(`
            <div class="product-review-item">
              <div class="review-header">
                <p>⭐ ${review.rating}</p>
                <p>${review.user.username}</p>
              </div>
              <div class="review-section">${review.content}</div>
            </div>
          `)
        })
      },
      error: (request) => {
        console.log(request)
      }
    })
  })
  $productReviewWriteBtn.on('click', (e) => {
    $productReviewBox.css('visibility', 'hidden')
    $productReviewWriteBox.css('visibility', 'visible')
  })
  $ratingInput.on('input', (e) => {
    $('label[for=rating]').text(`별점(${e.target.value})`)
  })
  $reviewCancelBtn.on('click', (e) => {
    e.preventDefault()
    $productReviewWriteBox.css('visibility', 'hidden')
    $body.css('overflow-y', 'scroll')
  })
  $reviewSaveBtn.on('click', (e) => {
    e.preventDefault()
    $reviewWriteForm.submit()
  })
  $productModifyItem.on('click', (e) => {
    e.preventDefault()
    location.href = `/product/modify/${productId}`
  })
  $productDeleteItem.on('click', (e) => {
    if(confirm('정말 해당 상품을 삭제하시겠습니까?')) {
     $.ajax({
       url: `/api/product/${productId}`,
       type: 'DELETE',
       contentType: 'application/jon',
       success: () => {
         alert('상품 삭제 성공\n상품 목록 페이지로 이동합니다.')
         location.href = '/product/list'
       },
       error: (request) => {
         console.log(request)
       }
     })
    }
  })
  $productOptionRegisterItem.on('click', (e) => {
    e.preventDefault()
    location.href = `/product-option/register/${productId}`
  })
  $productOptionModifyItem.on('click', (e) => {
    e.preventDefault()
    location.href = `/product-option/modify/${selectedProductOption.id}`
  })
  $productOptionDeleteItem.on('click', (e) => {
    e.preventDefault()
    if(confirm('정말 선택된 옵션을 삭제하시겠습니까?')) {
      $.ajax({
        url: `/api/product-option/{id}`,
        type: 'DELETE',
        contentType: 'application/json',
        success: () => {
          alert('선택된 옵션의 삭제가 완료되었습니다.')
          location.reload()
        },
        error: (request) => {
          console.log(request)
        }
      })
    }
  })
  $quantitySubBtn.on('click', (e) => {
    e.preventDefault()
    const curQuantity = Number($quantityInput.val())
    if (curQuantity > 1) {
      $quantityInput.val(curQuantity - 1)
    }
  })
  $quantityAddBtn.on('click', (e) => {
    e.preventDefault()
    const curQuantity = Number($quantityInput.val())
    if (curQuantity < 99) {
      $quantityInput.val(curQuantity + 1)
    }
  })
  $productOrderBtn.on('click', (e) => {
    e.preventDefault()
  })
</script>