<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>IKEA - 상품 목록</title>
</head>
<body>

<section layout:fragment="container">
  <div class="product-list-area"></div>
  <div class="load-btn-area">
    <button class="load-btn">더보기</button>
  </div>
</section>

</body>
</html>

<script th:inline="javascript">
  const mainCategoryCode = [[${mainCategoryCode}]]
  const subCategoryCode = [[${subCategoryCode}]]
  const keyword = [[${keyword}]]
  const $productListArea = $('.product-list-area')
  const $loadBtn = $('.load-btn')

  const paramObj = {
    pageNum: 1,
    limit: 10,
    mainCategoryCode,
    subCategoryCode,
    keyword
  }

  $.ajax({
    url: `http://localhost:8080/api/product/list?${$.param(paramObj)}`,
    type: 'GET',
    contentType: 'application/json',
    success: (productList) => {
      appendProductList(productList)
    },
    error: (request) => {
      console.log(request)
    }
  })

  $loadBtn.on('click', (e) => {
    e.preventDefault()
    paramObj.pageNum += 1
    $.ajax({
      url: `http://localhost:8080/api/product/list?${$.param(paramObj)}`,
      type: 'GET',
      contentType: 'application/json',
      success: (productList) => {
        appendProductList(productList)
      },
      error: (request) => {
        console.log(request)
      }
    })
  })

  const appendProductList = (productList) => {
    productList.forEach((product) => {
      const firstOption = product.productOptionList[0]
      const firstAtt = firstOption.attachmentList[0]
      const reviewTotalRating = product.productReviewList.map((p) => p.rating).reduce((acc, cur) => acc + cur, 0)
      const reviewTotalCnt = product.productReviewList.length
      const $div = $(`
            <div class="product-list-item">
              <div class="product-img">
                <img src="/img/${product.id}/${firstAtt.productOptionId}/${firstAtt.name}" alt="제품 이미지">
              </div>
              <a href="/product/${product.id}" class="product-name">${product.name}</a>
              <p class="product-size">${firstOption.width}x${firstOption.depth}x${firstOption.height}(cm)</p>
              <p class="product-price">￦${firstOption.price.toLocaleString("ko-KR")}</p>
              <p class="product-review">⭐${reviewTotalCnt <= 0 ? 0 : Math.round(reviewTotalRating / reviewTotalCnt)}(${reviewTotalCnt})</p>
            </div>
        `)
      $div.on('click', (e) => {
        e.preventDefault()
        location.href = `/product/${product.id}`
      })
      $productListArea.append($div)
    })
  }
</script>