<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>InJae - 상품 등록</title>
</head>
<body>

<section layout:fragment="container">
  <div class="form-area">
    <div class="form-title">
      <h2>상품 등록</h2>
    </div>
    <form class="product-register-form">
      <div class="input-area">
        <label for="name">상품 이름</label>
        <input id="name" name="name" type="text">
      </div>
      <div class="input-area">
        <label for="desc">상품 상세</label>
        <textarea id="desc" name="desc"></textarea>
      </div>
      <div class="input-area">
        <label for="mainCategoryCode">대분류</label>
        <select id="mainCategoryCode" name="mainCategoryCode">
          <option>대분류를 선택해주세요.</option>
        </select>
      </div>
      <div class="input-area">
        <label for="subCategoryCode">소분류</label>
        <select id="subCategoryCode" name="subCategoryCode">
          <option>소분류를 선택해주세요.</option>
        </select>
      </div>
      <div class="input-area">
        <label for="color">기본 옵션 상품 색상</label>
        <input id="color" name="color" type="text">
      </div>
      <div class="input-area">
        <label for="width">기본 옵션 상품 가로 길이</label>
        <input id="width" name="width" type="text">
      </div>
      <div class="input-area">
        <label for="depth">기본 옵션 상품 세로 길이</label>
        <input id="depth" name="depth" type="text">
      </div>
      <div class="input-area">
        <label for="height">기본 옵션 상품 높이</label>
        <input id="height" name="height" type="text">
      </div>
      <div class="input-area">
        <label for="stock">기본 옵션 상품 재고 수량</label>
        <input id="stock" name="stock" type="text">
      </div>
      <div class="input-area">
        <label for="price">기본 옵션 상품 가격</label>
        <input id="price" name="price" type="text">
      </div>
      <div class="upload-area">
        <label for="uploadFiles">기본 옵션 상품 이미지</label>
        <input accept="image/png" id="uploadFiles" name="uploadFiles" type="file">
      </div>
      <div class="btn-area">
        <button class="cancel-btn">취소</button>
        <button class="save-btn">등록</button>
      </div>
    </form>
  </div>
</section>

</body>
</html>

<script>
  const $productRegisterForm = $('.product-register-form')
  const $nameInput = $('input[name=name]')
  const $descTextArea = $('textarea[name=desc]')
  const $mainCategorySelect = $('select[name=mainCategoryCode]')
  const $subCategorySelect = $('select[name=subCategoryCode]')
  const $colorInput = $('input[name=color]')
  const $widthInput = $('input[name=width]')
  const $depthInput = $('input[name=depth]')
  const $heightInput = $('input[name=height]')
  const $stockInput = $('input[name=stock]')
  const $priceInput = $('input[name=price]')
  const $uploadFilesInput = $('input[name=uploadFiles]')
  const $cancelBtn = $('.cancel-btn')
  const $saveBtn = $('.save-btn')

  let categoryList

  $.ajax({
    url: '/api/main-category/list',
    type: 'GET',
    contentType: 'application/json',
    success: (mainCategoryList) => {
      categoryList = mainCategoryList
      mainCategoryList.forEach((mainCategory) => {
        const $option = $(`<option value="${mainCategory.code}">${mainCategory.name}</option>`)
        $mainCategorySelect.append($option)
      })
    },
    error: (request) => {
      console.log(request)
    }
  })

  $productRegisterForm.validate({
    rules: {
      name: {
        required: true
      },
      desc: {
        required: true
      },
      mainCategoryCode: {
        required: true
      },
      subCategoryCode: {
        required: true
      },
      color: {
        required: true
      },
      width: {
        required: true,
        number: true
      },
      depth: {
        required: true,
        number: true
      },
      height: {
        required: true,
        number: true
      },
      stock: {
        required: true,
        number: true
      },
      price: {
        required: true,
        number: true
      }
    },
    messages: {
      name: {
        required: '상품 이름이 입력되지 않았습니다.'
      },
      desc: {
        required: '상품 상세가 입력되지 않았습니다.'
      },
      mainCategoryCode: {
        required: '대분류가 선택되지 않았습니다.'
      },
      subCategoryCode: {
        required: '소분류가 선택되지 않았습니다.'
      },
      color: {
        required: '기본 옵션 상품 색상이 입력되지 않았습니다.'
      },
      width: {
        required: '기본 옵션 상품 가로 길이가 입력되지 않았습니다.',
        number: '숫자만 입력 가능합니다.'
      },
      depth: {
        required: '기본 옵션 상품 세로 길이가 입력되지 않았습니다.',
        number: '숫자만 입력 가능합니다.'
      },
      height: {
        required: '기본 옵션 상품 높이가 입력되지 않았습니다.',
        number: '숫자만 입력 가능합니다.'
      },
      stock: {
        required: '기본 옵션 상품 재고 수량이 입력되지 않았습니다.',
        number: '숫자만 입력 가능합니다.'
      },
      price: {
        required: '기본 옵션 상품 가격이 입력되지 않았습니다.',
        number: '숫자만 입력 가능합니다.'
      }
    },
    submitHandler: () => {
      const formData = new FormData()
      const dataObj = {
        name: $nameInput.val(),
        desc: $descTextArea.val(),
        mainCategoryCode: $mainCategorySelect.val(),
        subCategoryCode: $subCategorySelect.val(),
        productOption: {
          color: $colorInput.val(),
          width: $widthInput.val(),
          depth: $depthInput.val(),
          height: $heightInput.val(),
          stock: $stockInput.val(),
          price: $priceInput.val()
        }
      }
      formData.append('product', new Blob([JSON.stringify(dataObj)], { type: 'application/json' }))
      Array.from($uploadFilesInput[0].files).forEach((file) => {
        formData.append('uploadFiles', file)
      })
      $.ajax({
        url: '/api/product',
        type: 'POST',
        contentType: false,
        processData: false,
        cache: false,
        encType: 'multipart/form-data',
        dataType: 'json',
        data: formData,
        success: () => {
          alert('상품 등록이 완료되었습니다.')
          location.href = '/product/list'
        },
        error: (request) => {
          console.log(request)
        }
      })
    }
  })

  $mainCategorySelect.on('change', (e) => {
    e.preventDefault()
    const mainCategory = categoryList.find((c) => c.code === $mainCategorySelect.val())
    $subCategorySelect.children().remove()
    $subCategorySelect.append('<option>소분류를 선택해주세요.</option>')
    mainCategory.subCategoryList.forEach((subCategory) => {
      const $option = $(`<option value="${subCategory.code}">${subCategory.name}</option>`)
      $subCategorySelect.append($option)
    })
  })
  $cancelBtn.on('click', (e) => {
    e.preventDefault()
    location.href = '/'
  })
  $saveBtn.on('click', (e) => {
    e.preventDefault()
    $productRegisterForm.submit()
  })
</script>