<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/js/jquery-validate.min.js}"></script>
  <script th:src="@{/js/jquery-custom-validate.js}"></script>
  <script th:src="@{/js/moment.min.js}"></script>
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/4f485c5b0b.js"></script>
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="icon" th:href="@{/img/injae/main-logo.jpg}">
  <script>
    $(document).ready(() => {
      const $body = $('body')
      const $keywordInput = $('input[name=keyword]')
      const $searchBtn = $('.search-btn')
      const $leftBox = $('.left-box')
      const $leftBoxRightInner = $leftBox.children('.box-right-inner')
      const $leftBoxOpenBtn = $('.left-box-open-btn')
      const $leftBoxCloseBtn = $('.left-box-close-btn')
      const $rightBox = $('.right-box')
      const $rightBoxLeftInner = $rightBox.children('.box-left-inner')
      const $rightBoxOpenBtn = $('.right-box-open-btn')
      const $rightBoxCloseBtn = $('.right-box-close-btn')
      const $mainCategoryUl = $('.main-category-list')
      const $subCategoryUl = $('.sub-category-list')

      $.ajax({
        url: '/api/main-category/list',
        type: 'GET',
        contentType: 'application/json',
        success: (list) => {
          list.forEach((mainCategory) => {
            const $mainCategoryLink = $(`<a href="/">${mainCategory.name}</a>`)
            const $mainCategoryList = $(`<li></li>`)
            $mainCategoryList.append($mainCategoryLink)
            $mainCategoryLink.on('click', (e) => {
              e.preventDefault()
              $mainCategoryUl.children().removeClass('selected')
              $mainCategoryList.addClass('selected')
              $subCategoryUl.children().remove()
              mainCategory.subCategoryList.forEach((subCategory) => {
                const $subCategoryLink = $(`<a href="/product/list?mainCategoryCode=${mainCategory.code}&subCategoryCode=${subCategory.code}">${subCategory.name}</a>`)
                const $subCategoryList = $(`<li></li>`)
                $subCategoryList.append($subCategoryLink)
                $subCategoryUl.append($subCategoryList)
              })
            })
            $mainCategoryUl.append($mainCategoryList)
          })
        },
        error: (error) => {
          console.log(error)
        }
      })

      $keywordInput.on('keyup', (e) => {
        if(e.keyCode === 13) {
          location.href = `/product/list?keyword=${$keywordInput.val()}`
        }
      })
      $searchBtn.on('click', (e) => {
        e.preventDefault()
        location.href = `/product/list?keyword=${$keywordInput.val()}`
      })
      $leftBoxOpenBtn.on('click', (e) => {
        $leftBox.css('visibility', 'visible')
        $body.css('overflow', 'hidden')
      })
      $leftBoxCloseBtn.on('click', (e) => {
        $leftBox.css('visibility', 'hidden')
        $body.css('overflow-y', 'scroll')
      })
      $leftBoxRightInner.on('click', (e) => {
        $leftBox.css('visibility', 'hidden')
        $body.css('overflow-y', 'scroll')
      })
      $rightBoxOpenBtn.on('click', (e) => {
        $rightBox.css('visibility', 'visible')
        $body.css('overflow', 'hidden')
      })
      $rightBoxCloseBtn.on('click', (e) => {
        $rightBox.css('visibility', 'hidden')
        $body.css('overflow-y', 'scroll')
      })
      $rightBoxLeftInner.on('click', (e) => {
        $rightBox.css('visibility', 'hidden')
        $body.css('overflow-y', 'scroll')
      })
    })
  </script>
</head>
<body>

  <div class="announcement-area">
    <ul>
      <li>
        <i class="fa-solid fa-store"></i>
        <a href="/">베스트 셀러</a>
      </li>
      <li>
        <i class="fa-solid fa-truck"></i>
        <a href="/">배송 서비스</a>
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        <a href="/">쉽고 편한 전화 주문, 헤이오더</a>
      </li>
    </ul>
  </div>

  <th:block th:replace="fragments/header :: headerFragment"></th:block>

  <th:block th:replace="fragments/leftbox :: leftboxFragment"></th:block>

  <th:block th:replace="fragments/rightbox :: rightboxFragment"></th:block>

  <section class="container" layout:fragment="container"></section>

  <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>
</html>