<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/4f485c5b0b.js"></script>
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <script>
    $(document).ready(() => {
      const $mainCategoryUl = $('.main-category-list')
      const $subCategoryUl = $('.sub-category-list')

      $.ajax({
        url: 'http://localhost:8080/api/main-category/list',
        type: 'GET',
        contentType: 'application/json',
        success: (list) => {
          list.forEach((category) => {
            const $li = $(`<li>${category.name}</li>`)
            $li.on('click', (e) => {
              $subCategoryUl.children().remove()
              category.subCategoryList.forEach((category) => {
                const $li = $(`<li>${category.name}</li>`)
                $li.on('click', (e) => {
                  // 해당 카테고리 물건 검색 페이지로 이동
                })
                $subCategoryUl.append($li)
              })
            })
            $mainCategoryUl.append($li)
          })
        },
        error: (error) => {
          console.log(error)
        }
      })
    })
  </script>
</head>
<body>

  <div class="announcement-area">
    <ul>
      <li>
        <i class="fa-solid fa-phone"></i>
        <a href="">쉽고 편한 전화 주문, 헤이오더</a>
      </li>
      <li>
        <i class="fa-solid fa-store"></i>
        <a href="">베스트 셀러</a>
      </li>
      <li>
        <i class="fa-solid fa-truck"></i>
        <a href="/">배송 서비스</a>
      </li>
    </ul>
  </div>

  <th:block th:replace="fragments/header :: headerFragment"></th:block>

  <th:block th:replace="fragments/nav :: navFragment"></th:block>

  <section class="container" layout:fragment="container"></section>

  <th:block th:replace="fragments/footer :: footerFragment"></th:block>

</body>
</html>