<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ikea.mapper.product.ProductReviewMapper">

    <resultMap id="BaseResultMap" type="ProductReview">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="product_id" property="productId"/>
        <result column="rating" property="rating"/>
        <result column="content" property="content"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <resultMap id="RelatedResultMap" type="ProductReview" extends="BaseResultMap">
        <association property="user"
                     javaType="User"
                     columnPrefix="u_"
                     resultMap="com.ikea.mapper.user.UserMapper.BaseResultMap"/>
    </resultMap>

    <sql id="columns">
        ${alias}id AS ${prefix}id
        , ${alias}user_id AS ${prefix}user_id
        , ${alias}product_id AS ${prefix}product_id
        , ${alias}rating AS ${prefix}rating
        , ${alias}content AS ${prefix}content
        , ${alias}create_date AS ${prefix}create_date
        , ${alias}update_date AS ${prefix}update_date
    </sql>

    <insert id="create" parameterType="ProductReview">
        INSERT INTO
        product_review (id, user_id, product_id, rating, content)
        VALUES (#{id}, #{userId}, #{productId}, #{rating}, #{content})
    </insert>

    <select id="findAll" parameterType="ProductReview" resultMap="RelatedResultMap">
        SELECT
        <include refid="columns">
            <property name="alias" value="pr."/>
            <property name="prefix" value=""/>
        </include>
        ,
        <include refid="com.ikea.mapper.user.UserMapper.columns">
            <property name="alias" value="u."/>
            <property name="prefix" value="u_"/>
        </include>
        FROM product_review AS pr
        LEFT JOIN `user` AS u
        ON pr.user_id = u.id
        <where>
            <if test="productId != null and productId != ''">
                pr.product_id = #{productId}
            </if>
        </where>
    </select>

    <select id="findOne" parameterType="ProductReview" resultMap="RelatedResultMap">
        SELECT
        <include refid="columns">
            <property name="alias" value="pr."/>
            <property name="prefix" value=""/>
        </include>
        ,
        <include refid="com.ikea.mapper.user.UserMapper.columns">
            <property name="alias" value="u."/>
            <property name="prefix" value="u_"/>
        </include>
        FROM product_review AS pr
        LEFT JOIN `user` AS u
        ON pr.user_id = u.id
        WHERE pr.id = #{id}
    </select>

    <update id="modify" parameterType="ProductReview">
        UPDATE product_review
        SET update_date = CURRENT_TIMESTAMP
        <if test="rating != null">
            , rating = #{rating}
        </if>
        <if test="content != null and content != ''">
            , content = #{content}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="remove" parameterType="ProductReview">
        DELETE FROM product_review WHERE id = #{id}
    </delete>

</mapper>