<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/sign-layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>InJae - 회원가입</title>
</head>
<body>

<section layout:fragment="container">
  <div class="left-area">
    <button class="go-back-btn">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
    <div class="left-area-header">
      <img alt="메인 로고" th:src="@{/img/injae/main-logo.jpg}"/>
    </div>
    <div class="left-area-section">
      <h2>회원가입</h2>
      <p>이케아에 가입하여 새로운 가구를 장만해보세요.</p>
      <p>* 주소는 배송을 위해 정확하게 입력해주세요.</p>
    </div>
    <div class="left-area-footer">
      <p>&copy; InJae</p>
    </div>
  </div>
  <div class="right-area">
    <div class="form-area">
      <form class="sign-up-form">
        <div class="input-area">
          <label for="username">아이디</label>
          <input id="username" name="username" type="text">
        </div>
        <div class="input-area">
          <label for="password">비밀번호</label>
          <input id="password" name="password" type="password">
        </div>
        <div class="input-area">
          <label for="checkPassword">비밀번호 확인</label>
          <input id="checkPassword" name="checkPassword" type="password">
        </div>
        <div class="input-area">
          <label for="name">이 름</label>
          <input id="name" name="name" type="text">
        </div>
        <div class="input-area">
          <label for="email">
            이메일&nbsp;
            <span class="email-auth-box-open-btn">이메일 인증
              <i class="fa-solid fa-arrow-right"></i>
            </span>
          </label>
          <input disabled id="email" name="email" type="text">
        </div>
        <div class="input-area">
          <label for="address">주 소</label>
          <input id="address" name="address" type="text">
        </div>
        <div class="input-area">
          <label for="mobile">전화번호</label>
          <input id="mobile" name="mobile" type="text">
        </div>
        <div class="blue-btn-area">
          <button class="sign-up-btn">회원가입</button>
        </div>
        <div class="white-btn-area">
          <button class="sign-in-btn">로그인</button>
        </div>
      </form>
    </div>
  </div>

  <div class="email-auth-box">
    <div class="box-left-inner"></div>
    <div class="box-right-inner">
      <header>
        <h2 class="header-title">이메일 인증</h2>
        <button class="auth-close-btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </header>
      <section>
        <div class="email-auth-area">
          <form class="email-auth-form">
            <div class="input-area">
              <label for="emailToAuth">이메일</label>
              <input id="emailToAuth" name="emailToAuth" type="text">
              <button class="send-auth-num-btn">인증번호 전송</button>
            </div>
            <div class="input-area">
              <label for="authNumber">인증번호</label>
              <input id="authNumber" name="authNumber" type="text">
            </div>
            <div class="btn-area">
              <button class="auth-cancel-btn">취소</button>
              <button class="auth-save-btn">인증</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</section>

</body>
</html>

<script>
  const $goBackBtn = $('.go-back-btn')
  const $signUpForm = $('.sign-up-form')
  const $usernameInput = $('input[name=username]')
  const $passwordInput = $('input[name=password]')
  const $nameInput = $('input[name=name]')
  const $emailInput = $('input[name=email]')
  const $addressInput = $('input[name=address]')
  const $mobileInput = $('input[name=mobile]')
  const $signUpBtn = $('.sign-up-btn')
  const $signInBtn = $('.sign-in-btn')

  const $emailAuthBoxOpenBtn = $('.email-auth-box-open-btn')
  const $emailAuthBox = $('.email-auth-box')
  const $emailAuthForm = $('.email-auth-form')
  const $authCloseBtn = $('.auth-close-btn')
  const $sendAuthNumBtn = $('.send-auth-num-btn')
  const $emailToAuthInput = $('input[name=emailToAuth]')
  const $authNumberInput = $('input[name=authNumber]')
  const $authCancelBtn = $('.auth-cancel-btn')
  const $authSaveBtn = $('.auth-save-btn')

  $signUpForm.validate({
    rules: {
      username: {
        required: true,
        specialChars: true
      },
      password: {
        required: true
      },
      checkPassword: {
        required: true,
        equalTo: '[name=password]'
      },
      name: {
        required: true,
        korean: true
      },
      email: {
        required: true,
        email: true
      },
      address: {
        required: true,
      },
      mobile: {
        required: true,
        number: true
      }
    },
    messages: {
      username: {
        required: '아이디가 입력되지 않았습니다.',
        specialChars: '특수문자는 입력할 수 없습니다.'
      },
      password: {
        required: '비밀번호가 입력되지 않았습니다.'
      },
      checkPassword: {
        required: '확인 비밀번호가 입력되지 않았습니다.',
        equalTo: '비밀번호가 일치하지 않습니다.'
      },
      name: {
        required: '이름이 입력되지 않았습니다.',
        korean: '이름은 한국어로만 입력 가능합니다.'
      },
      email: {
        required: '이메일이 입력되지 않았습니다.',
        email: '이메일 형식이 올바르지 않습니다.'
      },
      address: {
        required :'주소가 입력되지 않았습니다.'
      },
      mobile: {
        required: '전화번호가 입력되지 않았습니다.',
        number: '숫자만 입력 가능합니다.'
      }
    },
    submitHandler: () => {
      $.ajax({
        url: '/api/sign/up',
        type: 'POST',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify({
          username: $usernameInput.val(),
          password: $passwordInput.val(),
          name: $nameInput.val(),
          email: $emailInput.val(),
          address: $addressInput.val(),
          mobile: $mobileInput.val()
        }),
        success: () => {
          alert('[회원 가입 성공]\n로그인 페이지로 이동합니다.')
          location.href = '/sign/in'
        },
        error: ({ responseJSON }) => {
          const { statusCode } = responseJSON
          const { message } = responseJSON
          if(statusCode === 400) {
            alert(message)
          }
        }
      })
    }
  })
  $emailAuthForm.validate({
    rules: {
      emailToAuth: {
        required: true,
        email: true
      },
      authNumber: {
        required: true,
        number: true
      }
    },
    messages: {
      emailToAuth: {
        required: '이메일이 입력되지 않았습니다.',
        email: '이메일 형식이 올바르지 않습니다.'
      },
      authNumber: {
        required: '인증번호가 입력되지 않았습니다.',
        number: '인증번호는 숫자만 입력가능합니다.'
      }
    },
    submitHandler: () => {
      $.ajax({
        url: '/api/user/certificate-auth-num',
        type: 'POST',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify({
          email: $emailToAuthInput.val(),
          authNum: $authNumberInput.val()
        }),
        success: () => {
          alert('이메일 인증에 성공하였습니다.')
          $emailInput.val($emailToAuthInput.val())
        },
        error: ({ responseJSON }) => {
          const { statusCode } = responseJSON
          const { message } = responseJSON
          if(statusCode === 400) {
            alert(message)
          }
        }
      })
    }
  })

  $goBackBtn.on('click', (e) => {
    e.preventDefault()
    location.href = '/'
  })
  $signUpBtn.on('click', (e) => {
    e.preventDefault()
    $signUpForm.submit()
  })
  $signInBtn.on('click', (e) => {
    e.preventDefault()
    location.href = '/sign/in'
  })
  $emailAuthBoxOpenBtn.on('click', (e) => {
    e.preventDefault()
    $emailAuthBox.css('visibility', 'visible')
  })
  $authCloseBtn.on('click', (e) => {
    e.preventDefault()
    $emailAuthBox.css('visibility', 'hidden')
  })
  $sendAuthNumBtn.on('click', (e) => {
    e.preventDefault()
    $.ajax({
      url: '/api/user/send-auth-num',
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify({
        email: $emailToAuthInput.val()
      }),
      success: () => {
        alert('해당 이메일로 인증번호를 전송하였습니다.\n3분 이내에 입력해주시기 바랍니다.')
      },
      error: ({ responseJSON }) => {
        const { statusCode } = responseJSON
        const { message } = responseJSON
        if(statusCode === 400) {
          alert(message)
        }
      }
    })
  })
  $authCancelBtn.on('click', (e) => {
    e.preventDefault()
    $emailAuthBox.css('visibility', 'hidden')
  })
  $authSaveBtn.on('click', (e) => {
    e.preventDefault()
    $emailAuthForm.submit()
  })
</script>