<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>InJae - 프로필</title>
</head>
<body>

<section layout:fragment="container">
  <div class="profile-area">
    <div class="select-area">
      <input checked id="personal" name="info" type="radio" value="personal">
      <label for="personal">개인 정보</label>
      <input id="login" name="info" type="radio" value="login">
      <label for="login">로그인</label>
      <input id="resign" name="info" type="radio" value="resign">
      <label for="resign">회원 탈퇴</label>
    </div>
    <div class="info-area">
      <div class="personal-info selected">
        <div class="info-inner">
          <div class="info-title">
            <h2>개인 정보</h2>
            <button class="personal-info-edit-btn">
              <i class="fa-solid fa-pen"></i>
            </button>
          </div>
          <div class="info-content">
            <div>
              <p class="info-label">이름</p>
              <p class="info-text" th:text="${user.name}"></p>
            </div>
            <div>
              <p class="info-label">이메일</p>
              <p class="info-text" th:text="${user.email}"></p>
            </div>
            <div>
              <p class="info-label">주소</p>
              <p class="info-text" th:text="${user.address}"></p>
            </div>
            <div>
              <p class="info-label">전화번호</p>
              <p class="info-text" th:text="${user.mobile}"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="login-info">
        <div class="info-inner">
          <div class="info-title">
            <h2>로그인 정보</h2>
            <button class="login-info-edit-btn">
              <i class="fa-solid fa-pen"></i>
            </button>
          </div>
          <div class="info-content">
            <div>
              <p class="info-label">아이디</p>
              <p class="info-text" th:text="${user.username}"></p>
            </div>
            <div>
              <p class="info-label">비밀번호</p>
              <p>********</p>
            </div>
          </div>
        </div>
      </div>
      <div class="resign-info">
        <div class="info-inner">
          <div class="info-title">
            <h2>회원 탈퇴</h2>
            <button class="resign-btn">
              <i class="fa-solid fa-door-open"></i>
            </button>
          </div>
          <div class="info-content">
            <div>
              <p class="info-text">InJae Family 계정은 언제든지 삭제할 수 있습니다. 계정, 구매 내역 및 계정에 연결된 모든 정보가 삭제됩니다.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="personal-info-box global-right-box">
    <div class="box-left-inner"></div>
    <div class="box-right-inner">
      <header>
        <h2 class="header-title">개인 정보 수정</h2>
        <button class="personal-info-close-btn close-btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </header>
      <section>
        <div class="edit-personal-info-area">
          <form class="personal-info-edit-form">
            <div class="input-area">
              <label for="name">이름</label>
              <input id="name" name="name" type="text">
            </div>
            <div class="input-area">
              <label for="email">이메일</label>
              <input id="email" name="email" type="text">
            </div>
            <div class="input-area">
              <label for="address">주소</label>
              <input id="address" name="address" type="text">
            </div>
            <div class="input-area">
              <label for="mobile">전화번호</label>
              <input id="mobile" name="mobile" type="text">
            </div>
            <div class="btn-area">
              <button class="cancel-btn">취소</button>
              <button class="save-btn">수정</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>

  <div class="login-info-box global-right-box">
    <div class="box-left-inner"></div>
    <div class="box-right-inner">
      <header>
        <h2 class="header-title">비밀번호 변경</h2>
        <button class="login-info-close-btn close-btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </header>
      <section>
        <div class="edit-login-info-area">
          <form class="login-info-edit-form">
            <div class="input-area">
              <label for="curPassword">현재 비밀번호</label>
              <input id="curPassword" name="curPassword" type="password">
            </div>
            <div class="input-area">
              <label for="password">변경할 비밀번호</label>
              <input id="password" name="password" type="password">
            </div>
            <div class="input-area">
              <label for="checkPassword">변경할 비밀번호 확인</label>
              <input id="checkPassword" name="checkPassword" type="password">
            </div>
            <div class="btn-area">
              <button class="cancel-btn">취소</button>
              <button class="save-btn">수정</button>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</section>

</body>
</html>

<script th:inline="javascript">
  const user = [[${user}]]
  const $body = $('.body')
  const $infoInput = $('input[name=info]')
  const $infoArea = $('.info-area')
  const $personalInfoBox = $('.personal-info-box')
  const $personalInfoBoxLeftInner = $personalInfoBox.find('.box-left-inner')
  const $personalInfoEditForm = $('.personal-info-edit-form')
  const $nameInput = $('input[name=name]')
  const $emailInput = $('input[name=email]')
  const $addressInput = $('input[name=address]')
  const $mobileInput = $('input[name=mobile]')
  const $personalInfoEditBtn = $('.personal-info-edit-btn')
  const $personalInfoCloseBtn = $('.personal-info-close-btn')
  const $personalInfoCancelBtn = $personalInfoBox.find('.cancel-btn')
  const $personalInfoSaveBtn = $personalInfoBox.find('.save-btn')
  const $loginInfoBox = $('.login-info-box')
  const $loginInfoBoxLeftInner = $loginInfoBox.find('.box-left-inner')
  const $loginInfoEditForm = $('.login-info-edit-form')
  const $curPasswordInput = $('input[name=curPassword]')
  const $passwordInput = $('input[name=password]')
  const $loginInfoEditBtn = $('.login-info-edit-btn')
  const $loginInfoCloseBtn = $('.login-info-close-btn')
  const $loginInfoCancelBtn = $loginInfoBox.find('.cancel-btn')
  const $loginInfoSaveBtn = $loginInfoBox.find('.save-btn')
  const $resignBtn = $('.resign-btn')

  $personalInfoEditForm.validate({
    rules: {
      name: {
        required: true,
        korean: true
      },
      email: {
        required: true,
        email: true
      },
      address: {
        required: true
      },
      mobile: {
        required: true,
        number: true
      }
    },
    messages: {
      name: {
        required: '이름이 입력되지 않았습니다.',
        korean: '이름은 한글로만 입력 가능합니다.'
      },
      email: {
        required: '이메일이 입력되지 않았습니다.',
        email: '이메일 형식이 올바르지 않습니다.'
      },
      address: {
        required: '주소가 입력되지 않았습니다.'
      },
      mobile: {
        required: '전화번호가 입력되지 않았습니다.',
        number: '전화번호는 숫자만 입력할 수 있습니다.'
      }
    },
    submitHandler: () => {
      $.ajax({
        url: `/api/user/${user.id}`,
        type: 'PUT',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify({
          name: $nameInput.val(),
          email: $emailInput.val(),
          address: $addressInput.val(),
          mobile: $mobileInput.val()
        }),
        success: () => {
          alert('개인 정보 수정이 완료되었습니다.')
          $body.css('y-overflow', 'scroll')
          $personalInfoBox.css('visibility', 'hidden')
        },
        error: ({ responseJSON }) => {
          const { statusCode } = responseJSON
          const { message } = responseJSON
          if(statusCode === 400) {
            alert(message)
          }
        }
      })
    }
  })
  $loginInfoEditForm.validate({
    rules: {
      curPassword: {
        required: true
      },
      password: {
        required: true
      },
      checkPassword: {
        required: true,
        equalTo: '[name=password]'
      }
    },
    messages: {
      curPassword: {
        required: '현재 비밀번호가 입력되지 않았습니다.'
      },
      password: {
        required: '변경할 비밀번호가 입력되지 않았습니다.'
      },
      checkPassword: {
        required: '확인 비밀번호가 입력되지 않았습니다.',
        equalTo: '변경할 비밀번호가 일치하지 않습니다.'
      }
    },
    submitHandler: () => {
      $.ajax({
        url: '/api/user/change-password',
        type: 'PUT',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify({
          id: user.id,
          curPassword: $curPasswordInput.val(),
          password: $passwordInput.val()
        }),
        success: () => {
          alert('비밀번호가 변경되었습니다.')
          $body.css('y-overflow', 'scroll')
          $loginInfoBox.css('visibility', 'hidden')
        },
        error: ({ responseJSON }) => {
          const { statusCode } = responseJSON
          const { message } = responseJSON
          if(statusCode === 400) {
            alert(message)
          }
        }
      })
    }
  })

  $infoInput.on('change', (e) => {
    e.preventDefault()
    $infoArea.children().removeClass('selected')
    const { target: { value } } = e
    $(`.${value}-info`).addClass('selected')
  })
  $personalInfoEditBtn.on('click', (e) => {
    e.preventDefault()
    $nameInput.val(user.name)
    $emailInput.val(user.email)
    $addressInput.val(user.address)
    $mobileInput.val(user.mobile)
    $body.css('y-overflow', 'hidden')
    $personalInfoBox.css('visibility', 'visible')
  })
  $personalInfoBoxLeftInner.on('click', (e) => {
    e.preventDefault()
    $body.css('y-overflow', 'scroll')
    $personalInfoBox.css('visibility', 'hidden')
  })
  $personalInfoCloseBtn.on('click', (e) => {
    e.preventDefault()
    $body.css('y-overflow', 'scroll')
    $personalInfoBox.css('visibility', 'hidden')
  })
  $personalInfoCancelBtn.on('click', (e) => {
    e.preventDefault()
    $body.css('y-overflow', 'scroll')
    $personalInfoBox.css('visibility', 'hidden')
  })
  $personalInfoSaveBtn.on('click', (e) => {
    e.preventDefault()
    $personalInfoEditForm.submit()
  })
  $loginInfoEditBtn.on('click', (e) => {
    e.preventDefault()
    $body.css('y-overflow', 'hidden')
    $loginInfoBox.css('visibility', 'visible')
  })
  $loginInfoBoxLeftInner.on('click', (e) => {
    e.preventDefault()
    $body.css('y-overflow', 'scroll')
    $loginInfoBox.css('visibility', 'hidden')
  })
  $loginInfoCloseBtn.on('click', (e) => {
    e.preventDefault()
    $body.css('y-overflow', 'scroll')
    $loginInfoBox.css('visibility', 'hidden')
  })
  $loginInfoCancelBtn.on('click', (e) => {
    e.preventDefault()
    $body.css('y-overflow', 'scroll')
    $loginInfoBox.css('visibility', 'hidden')
  })
  $loginInfoSaveBtn.on('click', (e) => {
    e.preventDefault()
    $loginInfoEditForm.submit()
  })
  $resignBtn.on('click', (e) => {
    e.preventDefault()
    if(confirm('정말 회원탈퇴를 하시겠습니까?')) {
      $.ajax({
        url: `/api/user/${user.id}`,
        type: 'DELETE',
        contentType: 'application/json',
        success: () => {
          alert('회원 탈퇴가 완료되었습니다.')
          location.href = '/logout'
        },
        error: ({ responseJSON }) => {
          const { statusCode } = responseJSON
          const { message } = responseJSON
          if(statusCode === 400) {
            alert(message)
          }
        }
      })
    }
  })
</script>