<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>IKEA - 프로필</title>
</head>
<body>

<section layout:fragment="container">
  <div class="profile-area">
    <div class="select-area">
      <input checked id="personal" name="area" type="radio" value="personal">
      <label for="personal">개인 정보</label>
      <input id="login" name="area" type="radio" value="login">
      <label for="login">로그인</label>
      <input id="resign" name="area" type="radio" value="resign">
      <label for="resign">회원 탈퇴</label>
    </div>
    <div class="info-area">

      <div class="personal-info selected">
        <div class="info-inner">
          <div class="info-title">
            <h2>개인 정보</h2>
            <button class="personal-info-edit-btn">
              <i class="fa-solid fa-pen"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="login-info">
        <div class="info-inner">
          <div class="info-title">
            <h2>로그인 정보</h2>
            <button class="login-info-edit-btn">
              <i class="fa-solid fa-pen"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="resign-info">
        <div class="info-inner">
          <div class="info-title">
            <h2>회원 탈퇴</h2>
            <button class="resign-btn">
              <i class="fa-solid fa-door-open"></i>
            </button>
          </div>
          <div>
            <p>IKEA Family 계정은 언제든지 삭제할 수 있습니다. 계정, 구매 내역 및 계정에 연결된 모든 정보가 삭제됩니다.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div aria-hidden="true" class="edit-profile-popup">
    <div class="popup-inner">
      <h2 class="popup-title"></h2>
      <div class="popup-input-area">

      </div>
      <div class="popup-btn-area">
        <button class="popup-cancel-btn">취소</button>
        <button class="popup-save-btn">저장</button>
      </div>
    </div>
  </div>

</section>

</body>
</html>

<script>
  const $infoArea = $('.info-area')
  const $personalInfo = $('.personal-info')
  const $loginInfo = $('.login-info')
  const $resignInfo = $('.resign-info')
  const $areaInput = $('input[name=area]')
  const $personalInfoEditBtn = $('.personal-info-edit-btn')
  const $loginInfoEditBtn = $('.login-info-edit-btn')
  const $resignBtn = $('.resign-btn')
  const $editProfilePopup = $('.edit-profile-popup')
  const $popupTitle = $('.popup-title')
  const $popupInputArea = $('.popup-input-area')
  const $popupCancelBtn = $('.popup-cancel-btn')
  const $popupSaveBtn = $('.popup-save-btn')

  let myUser

  $.ajax({
    url: '/api/user/me',
    type: 'GET',
    contentType: 'application/json',
    success: (user) => {
      myUser = user
      $personalInfo.children().append(`
        <div>
          <p>이름</p>
          <p>${user.name}</p>
        </div>
        <div>
          <p>이메일</p>
          <p>${user.email}</p>
        </div>
        <div>
          <p>주소</p>
          <p>${user.address}</p>
        </div>
        <div>
          <p>전화번호</p>
          <p>${user.mobile}</p>
        </div>
      `)
      $loginInfo.children().append(`
        <div>
          <p>아이디</p>
          <p>${user.username}</p>
        </div>
        <div>
          <p>비밀번호</p>
          <p>********</p>
        </div>
      `)
    },
    error: (request) => {
      console.log(request)
    }
  })

  $areaInput.on('input', (e) => {
    const area = e.target.value
    $infoArea.children().removeClass('selected')
    switch (area) {
      case 'personal':
        $personalInfo.addClass('selected')
        break
      case 'login':
        $loginInfo.addClass('selected')
        break
      case 'resign':
        $resignInfo.addClass('selected')
        break
    }
  })
  $personalInfoEditBtn.on('click', (e) => {
    $popupTitle.text('개인 정보 수정')
    $popupInputArea.append(`
      <div>
        <label for="name">이름</label>
        <input type="text" name="name" id="name" value="${myUser.name}">
      </div>
      <div>
        <label for="email">이메일</label>
        <input type="text" name="email" id="email" value="${myUser.email}">
      </div>
      <div>
         <label for="address">주소</label>
         <input type="text" name="address" id="address" value="${myUser.address}">
      </div>
      <div>
        <label for="mobile">전화번호(하이픈(-) 없이 입력해주세요.)</label>
        <input type="text" name="mobile" id="mobile" value="${myUser.mobile}">
      </div>
    `)
    $popupSaveBtn.off('click')
    $popupSaveBtn.on('click', (e) => {
      e.preventDefault()
      const $nameInput = $('input[name=name]')
      const $emailInput = $('input[name=email]')
      const $addressInput = $('input[name=address]')
      const $mobileInput = $('input[name=mobile]')

      $.ajax({
        url: `/api/user/${myUser.id}`,
        type: 'PUT',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify({
          name: $nameInput.val(),
          email: $emailInput.val(),
          address: $addressInput.val(),
          mobile: $mobileInput.val()
        }),
        success: () => {
          alert('개인 정보 수정 완료')
          $popupTitle.text()
          $popupInputArea.children().remove()
          $editProfilePopup.css('display', 'none')
        },
        error: (request) => {
          console.log(request)
        }
      })
    })
    $editProfilePopup.css('display', 'block')
  })
  $loginInfoEditBtn.on('click', (e) => {
    $popupTitle.text('로그인 정보 수정')
    $popupInputArea.append(`
      <div>
        <label for="curPassword">현재 비밀번호</label>
        <input type="password" name="curPassword" id="curPassword">
      </div>
      <div>
        <label for="password">변경할 비밀번호</label>
        <input type="password" name="password" id="password">
      </div>
      <div>
        <label for="checkPassword">확인 비밀번호</label>
        <input type="password" name="checkPassword" id="checkPassword">
      </div>
    `)
    $popupSaveBtn.off('click')
    $popupSaveBtn.on('click', (e) => {
      e.preventDefault()
      const $curPasswordInput = $('input[name=curPassword]')
      const $passwordInput = $('input[name=password]')
      const $checkPasswordInput = $('input[name=checkPassword]')

      $.ajax({
        url: '/api/user/change-password',
        type: 'PUT',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify({
          id: myUser.id,
          curPassword: $curPasswordInput.val(),
          password: $passwordInput.val()
        }),
        success: () => {
          alert('비밀번호 변경 완료')
          $popupTitle.text()
          $popupInputArea.children().remove()
          $editProfilePopup.css('display', 'none')
        },
        error: (request) => {
          console.log(request)
        }
      })
    })
    $editProfilePopup.css('display', 'block')
  })
  $resignBtn.on('click', (e) => {
    e.preventDefault()
    if(confirm('정말 회원 탈퇴하시겠습니까?')) {
      $.ajax({
        url: `/api/user/${myUser.id}`,
        type: 'DELETE',
        contentType: 'application/json',
        success: () => {
          alert('회원 탈퇴 처리가 완료되었습니다.\n메인 페이지로 이동합니다.')
          location.href = '/logout'
        },
        error: ({ responseJSON }) => {
          const { statusCode } = responseJSON
          const { message } = responseJSON
          if(statusCode === 400) {
            alert(message)
          }
        }
      })
    }
  })
  $popupCancelBtn.on('click', (e) => {
    e.preventDefault()
    $popupTitle.text()
    $popupInputArea.children().remove()
    $editProfilePopup.css('display', 'none')
  })
</script>