<footer th:fragment="footerFragment">
  <div class="footer-inner">
    <div class="social-links">
      <ul>
        <li>
          <a href="https://www.youtube.com/@IKEA" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/ikea/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/IKEA/" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/ikea" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="legal-area">
      <div class="legal-information">
        <p>
          IKEA Clone Project<br>
          주소: 경상남도 창원시 의창구 도계동 328-2 금강빌라<br>
          프로젝트 담당자: 강인재<br>
          전화번호: 010-9565-7072<br>
          이메일: rodaka123@naver.com
        </p>
      </div>
      <div class="legal-links">
        <ul>
          <li>
            <a href="/">
              <p>개인정보처리방침</p>
            </a>
          </li>
          <li>
            <a href="/">
              <p>쿠키 정책</p>
            </a>
          </li>
          <li>
            <a href="/">
              <p>쿠키 설정</p>
            </a>
          </li>
          <li>
            <a href="/">
              <p>웹사이트 이용약관</p>
            </a>
          </li>
          <li>
            <a href="/">
              <p>Responsible disclosure</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>