<header th:fragment="headerFragment">
  <div class="header-inner">
    <div class="main-logo-area">
      <a href="/">
        <img alt="메인 로고" th:src="@{/img/ikea/main-logo.svg}">
      </a>
    </div>
    <div class="main-search-area">
      <div class="search-area-inner">
        <input name="keyword" placeholder="검색어 입력" type="text"/>
        <button class="search-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
    <div class="user-menu-area">
      <ul>
        <li>
          <button class="right-box-open-btn">
            <i class="fa-regular fa-user"></i>
          </button>
        </li>
        <li>
          <a href="/product/dibs">
            <i class="fa-regular fa-heart"></i>
          </a>
        </li>
        <li>
          <a href="/product/cart">
            <i class="fa-solid fa-basket-shopping"></i>
          </a>
        </li>
        <li>
          <button class="left-box-open-btn">
            <i class="fa-solid fa-bars"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>