<div aria-hidden="true" class="right-box hidden" th:fragment="rightboxFragment">
  <header>
    <button class="right-box-close-btn">
      <i class="fa-solid fa-arrow-right"></i>
    </button>
    <p class="right-box-title">Hej</p>
  </header>
  <nav>
    <ul>
      <li>
        <a href="/sign/in">
          <p>로그인</p>
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
      <li>
        <a href="/sign/up">
          <p>회원가입</p>
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
    </ul>
  </nav>
  <section>
  </section>
</div>