<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div aria-hidden="true" class="right-box hidden" th:fragment="rightboxFragment">
    <div class="box-left-inner"></div>
    <div class="box-right-inner">
      <header>
        <button class="right-box-close-btn">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
        <p class="right-box-title" sec:authorize="isAnonymous()">Hej</p>
        <p class="right-box-title" sec:authorize="isAuthenticated()">
          Hej <span sec:authorize="hasRole('ADMIN')">관리자</span> <span sec:authentication="principal.user.name"></span>
        </p>
      </header>
      <nav>
        <ul>
          <li sec:authorize="isAnonymous()">
            <a href="/sign/in">
              <p>로그인</p>
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </li>
          <li sec:authorize="isAnonymous()">
            <a href="/sign/up">
              <p>회원가입</p>
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </li>
          <li sec:authorize="isAuthenticated()">
            <a href="/user/profile">
              <p>프로필</p>
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </li>
          <li sec:authorize="isAuthenticated()">
            <a href="/logout">
              <p>로그아웃</p>
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </li>
          <li sec:authorize="hasRole('ADMIN')">
            <a href="/category/main/register">
              <p>대분류 등록</p>
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </li>
          <li sec:authorize="hasRole('ADMIN')">
            <a href="/category/sub/register">
              <p>소분류 등록</p>
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </li>
          <li sec:authorize="hasRole('ADMIN')">
            <a href="/product/register">
              <p>상품 등록</p>
              <i class="fa-solid fa-angles-right"></i>
            </a>
          </li>
        </ul>
      </nav>
      <section>
      </section>
    </div>
  </div>
</html>
