<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>IKEA - 대분류 목록</title>
</head>
<body>

<section layout:fragment="container">
  <div class="main-category-list-area">

  </div>
</section>

</body>
</html>

<script>
  const $mainCategoryListArea = $('.main-category-list-area')

  $.ajax({
    url: '/api/main-category/list',
    type: 'GET',
    contentType: 'application/json',
    success: (mainCategoryList) => {
      mainCategoryList.forEach((mainCategory) => {
        const $mainCategoryItem = $(`
          <div class="main-category-item">
            <h2 class="main-category-title">${mainCategory.code}(${mainCategory.name})</h2>
          </div>
        `)
        const $mainCategoryBtnArea = $(`<div class="btn-area"></div>`)
        const $subCategoryBtn = $(`<button class="sub-category-btn">소분류 목록</button>`)
        $subCategoryBtn.on('click', (e) => {
          e.preventDefault()
          location.href = `/category/sub/list?mainCategoryId=${mainCategory.id}`
        })
        const $mainCategoryModifyBtn = $(`<button class="modify-btn">수정</button>`)
        $mainCategoryModifyBtn.on('click', (e) => {
          e.preventDefault()
          location.href = `/category/main/modify/${mainCategory.id}`
        })
        const $mainCategoryDeleteBtn = $(`<button class="delete-btn">삭제</button>`)
        $mainCategoryDeleteBtn.on('click', (e) => {
          e.preventDefault()
          if(confirm('정말 삭제하시겠습니까?\n하위 소분류들은 자동으로 삭제됩니다.')) {
            $.ajax({
              url: `/api/main-category/${mainCategory.id}`,
              type: 'DELETE',
              contentType: 'application/json',
              success: () => {
                alert('대분류 삭제가 완료되었습니다.')
                $mainCategoryDeleteBtn.parent().parent().remove()
              },
              error: ({ responseJSON }) => {
                const { statusCode } = responseJSON
                const { message } = responseJSON
                if(statusCode === 400) {
                  alert(message)
                }
              }
            })
          }
        })
        $mainCategoryBtnArea.append($subCategoryBtn)
        $mainCategoryBtnArea.append($mainCategoryModifyBtn)
        $mainCategoryBtnArea.append($mainCategoryDeleteBtn)
        $mainCategoryItem.append($mainCategoryBtnArea)
        $mainCategoryListArea.append($mainCategoryItem)
      })
    },
    error: ({ responseJSON }) => {
      const { statusCode } = responseJSON
      const { message } = responseJSON
      if(statusCode === 400) {
        alert(message)
      }
    }
  })
</script>