/*announcement style*/
.announcement-area {
    width: 100%;
    height: 5rem;
    background-color: #000;
    padding: 0 2rem;
}

.announcement-area ul {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement-area ul li {
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.1rem;
}

.announcement-area ul li i {
    color: #fff;
}

.announcement-area ul li a {
    text-decoration: none;
    color: #fff;
}

.announcement-area ul li a:hover {
    text-decoration: underline;
}

/*header style*/
header {
    width: 100%;
    height: 8rem;
    padding: 0 3.2rem;
}

header .header-inner {
    max-width: 120rem;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*main logo area style*/
header .header-inner .main-logo-area {
    width: 9rem;
    height: inherit;
    align-items: center;
}

header .header-inner .main-logo-area a {
    display: block;
    width: inherit;
    height: 3.6rem;
    margin: 2.2rem 0;
}

header .header-inner .main-logo-area a img {
    width: inherit;
    height: inherit;
}

/*main search area style*/
header .header-inner .main-search-area {
    width: calc(100% - 29rem);
    max-width: 76rem;
    min-width: 33rem;
    height: inherit;
}

header .header-inner .main-search-area .search-area-inner {
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .header-inner .main-search-area .search-area-inner input {
    width: calc(100% - 4.4rem);
    height: 4rem;
    border: none;
}

header .header-inner .main-search-area .search-area-inner input:focus {
    outline: none;
    border-bottom: 3px solid #ddd;
}

header .header-inner .main-search-area .search-area-inner .search-btn {
    width: 4.4rem;
    height: 4.4rem;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

header .header-inner .main-search-area .search-area-inner .search-btn:hover {
    background-color: #ddd;
}

/*main menu area style*/
header .header-inner .user-menu-area {
    widtH: 20rem;
    height: inherit;
}

header .header-inner .user-menu-area ul {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .header-inner .user-menu-area ul li {
    display: inline-block;
    width: 4.4rem;
    height: 4.4rem;
    text-align: center;
    line-height: 4.4rem;
}

header .header-inner .user-menu-area ul li a, header .header-inner .user-menu-area ul li button {
    display: inline-block;
    width: inherit;
    height: inherit;
    color: #000;
    font-size: 1.6rem;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

header .header-inner .user-menu-area ul li a:hover, header .header-inner .user-menu-area ul li button:hover {
    background-color: #ddd;
}

/*left-box style*/
.left-box {
    width: 48rem;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    overflow: scroll;
}

.left-box.hidden {
    left: -48rem;
}

/*left-box header style*/
.left-box header {
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    position: sticky;
    top: 0;
    background-color: #fff;
}

.left-box header .left-box-title {
    font-size: 3rem;
    font-weight: bold;
    color: rgb(0, 124, 193);
}

.left-box header .left-box-close-btn {
    width: 4.4rem;
    height: 4.4rem;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.left-box header .left-box-close-btn:hover {
    background-color: #ddd;
}

/*left-box section style*/
.left-box section {
    padding: 0 2rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
}

.left-box section ul {
    width: 22rem;
}

.left-box section ul:first-child {
    border-right: 2px solid #ddd;
}

.left-box section ul li {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
}

.left-box section ul li.selected {
    background-color: #ddd;
}

.left-box section ul li a {
    color: #000;
    text-decoration: none;
}

.left-box section ul li a:hover {
    text-decoration: underline;
}

/*right-box style*/
.right-box {
    width: 50rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.right-box.hidden {
    right: -50rem;
}

/*right-box header style*/
.right-box header {
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
}

.right-box header .right-box-title {
    font-size: 3.4rem;
    font-weight: bold;
    color: rgb(0, 124, 193);
}

.right-box header .right-box-close-btn {
    width: 4.4rem;
    height: 4.4rem;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.right-box header .right-box-close-btn:hover {
    background-color: #ddd;
}

/*right-box nav style*/
.right-box nav {
    width: 100%;
    height: 14rem;
}

.right-box nav ul {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.right-box nav ul li {
    height: 7rem;
    border-bottom: 2px solid #ddd;
}

.right-box nav ul li a {
    width: inherit;
    height: inherit;
    padding: 2rem 3rem;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right-box nav ul li a p {
    font-size: 1.4rem;
    font-weight: bold;
}

.right-box nav ul li:hover a p {
    text-decoration: underline;
}

.right-box nav ul li a i {
    font-size: 2rem;
}

/*footer style*/
footer {
    width: 100%;
    height: 30rem;
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
}

footer .footer-inner {
    width: inherit;
    height: inherit;
    max-width: 120rem;
    margin: 0 auto;
}

/*footer social-links style*/
footer .footer-inner .social-links {
    width: inherit;
    height: 5rem;
    margin-bottom: 2rem;
}

footer .footer-inner .social-links ul {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

footer .footer-inner .social-links ul li {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
    border-radius: 50%;
    border: 1px solid #ddd;
}

footer .footer-inner .social-links ul li a {
    display: inline-block;
    width: inherit;
    height: inherit;
    line-height: 4rem;
    text-align: center;
    font-size: 2.2rem;
    color: #000;
}

/*footer legal-area style*/
footer .footer-inner .legal-area {
    width: inherit;
    height: 10rem;
    padding: 1rem;
    border-top: 2px solid #ddd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*footer legal-information style*/
footer .footer-inner .legal-area .legal-information {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

/*footer legal-links style*/
footer .footer-inner .legal-area .legal-links {
    height: inherit;
}

footer .footer-inner .legal-area .legal-links ul {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: start;
}

footer .footer-inner .legal-area .legal-links ul li {
    margin: 2rem 1rem;
}

footer .footer-inner .legal-area .legal-links ul li a {
    color: #000;
    text-decoration: none;
}

/*container style*/
.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

/*main-advertise style*/
.container .main-advertise-area {
    width: inherit;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
}

.container .main-advertise-area img {
    width: 96rem;
    height: 60rem;
}

.container .main-advertise-area .info {
    width: calc(100% - 96rem);
    padding: 3rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    background-color: rgb(0, 124, 193);
}

.container .main-advertise-area .info .info-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.container .main-advertise-area .info .info-desc {
    font-size: 1.2rem;
    margin-bottom: 6rem;
}

.container .main-advertise-area .info .info-link {
    width: 100%;
    height: 4rem;
    margin-bottom: 3rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;
}

.container .main-advertise-area .info .info-link:hover {
    background-color: #fff;
    color: rgb(0, 124, 193);
}

/*profile area style*/
.profile-area {
    width: inherit;
    padding: 3.2rem;
}

/*profile select area style*/
.profile-area .select-area {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.profile-area .select-area input[type=radio] {
    display: none;
}

.profile-area .select-area label {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.profile-area .select-area input[type=radio]:checked + label {
    border-bottom: 0.2rem solid rgb(0, 128, 193);
}

/*profile info area style*/
.profile-area .info-area {

}

.profile-area .info-area > div {
    display: none;
    border: 0.1rem solid #ddd;
    border-radius: 0.1rem;
    padding: 2.4rem;
}

.profile-area .info-area > div.selected {
    display: block;
}

/*profile-area info-area info-inner style*/
.profile-area .info-area div div.info-inner {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.profile-area .info-area div div.info-inner div.info-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-area .info-area div div.info-inner div.info-title h2 {
    font-size: 3rem;
    font-weight: bold;
}

.profile-area .info-area div div.info-inner div.info-title button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profile-area .info-area div div.info-inner div:not(.info-title) p:first-child {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: gray;
}

.profile-area .info-area div div.info-inner div:not(.info-title) p:nth-child(2) {
    font-size: 1.4rem;
    color: #000;
}

/*edit-profile-popup style*/
.edit-profile-popup {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
}

.edit-profile-popup .popup-inner {
    width: 60rem;
    height: 50rem;
    padding: 3.2rem;
    margin: calc((100vh - 50rem) / 2) auto;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*popup title style*/
.edit-profile-popup .popup-inner .popup-title {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/*popup input style*/
.edit-profile-popup .popup-inner .popup-input-area {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-profile-popup .popup-inner .popup-input-area div {
    width: 70%;
    margin: 0 auto;
}

.edit-profile-popup .popup-inner .popup-input-area div label {
    display: block;
    font-size: 1.2rem;
    color: gray;
    margin-bottom: 0.5rem;
}

.edit-profile-popup .popup-inner .popup-input-area div input {
    width: 100%;
    height: 4rem;
    font-size: 1.4rem;
}

.edit-profile-popup .popup-inner .popup-input-area div input:focus {
    outline-color: rgb(0, 88, 163);
}

.edit-profile-popup .popup-inner .popup-btn-area {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.edit-profile-popup .popup-inner .popup-btn-area button {
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    cursor: pointer;
}

.edit-profile-popup .popup-inner .popup-btn-area .popup-save-btn {
    background-color: #000;
    color: #fff;
}