<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>IKEA - 홈</title>
</head>
<body>

<section layout:fragment="container">
  <div class="main-advertise-area">
    <img alt="메인 광고 이미지" th:src="@{/img/ikea/main-advertise-img.jpg}">
    <div class="info">
      <h2 class="info-title">IKEA</h2>
      <p class="info-desc">IKEA에서 다양한 가구를 준비해보세요</p>
      <a class="info-link" href="/">가구 보러가기 <i class="fa-solid fa-arrow-right"></i></a>
    </div>
  </div>
</section>

</body>
</html>